<div class="px-6 py-5 bg-white custom-blue-shadow rounded-2xl">
  <p class="text-[#3A3A3A] font-semibold">Análisis de gastos</p>
  <div class="max-w-[15rem] w-full relative aspect-square mx-auto">
    <div class="absolute top-0 flex flex-col items-center justify-center w-full h-full gap-1">
      <p class="text-sm font-medium">Histórico</p>
      <p class="text-sm font-bold">{{data | totalExpenses | currency}}</p>
    </div>
    <ngx-charts-pie-chart class="relative" [customColors]="customColors" [results]="data" [legend]="false" [labels]="false" [doughnut]="true">
    </ngx-charts-pie-chart>
  </div>
  <div class="flex flex-col gap-[1px] bg-[#E5E7EB]">
    <div *ngFor="let item of data; let i = index" class="flex items-center justify-between py-3 bg-white">
      <div class="flex items-center gap-3">
        <div class="min-w-[2.5rem] aspect-square rounded-full flex items-center justify-center text-white {{gastos[i].bgColor}}">
          <fa-icon class="text-xl" [icon]="gastos[i].icon"></fa-icon>
        </div>
        <p class="font-medium">{{item.name}}</p>
      </div>
      <p class="font-semibold">{{item.value | currency}}</p>
    </div>
  </div>
</div>