<div class="by-transfers-1">
<div class="flex text-[#818181] text-lg my-5">
  <p>Transfiere dinero desde cualquier entidad financiera</p>
</div>
<div class="grid grid-cols-2 lg:gap-x-14 px-4">
  <div class="col-span-1 my-5">
    <a>
      <span class="text-[#3A3A3A] text-base ml-4">No. Cuenta </span>
      <span class="text-[#3A3A3A] font-bold lg:float-right"
        >000243210031035
        <fa-icon
          class="cursor-pointer ml-1"
          [icon]="faCopy"
          style="color: #3564fd"
        ></fa-icon></span
    ></a>
  </div>
  <div class="col-span-1 my-5">
    <a>
      <span class="text-[#3A3A3A] text-base ml-4">Entidad</span>
      <span class="text-[#3A3A3A] font-bold float-right">Ualá </span></a
    >
  </div>
</div>
<div class="pseImg">
  <img src="assets/mercadoPagoLogo.png" class="mx-auto mb-5" />
</div>
<div class="flex justify-center  mb-10 ">
  <button routerLink="/transfers/mPago"  class="  text-[#3564FD] justify-center it lg:w-72 font-medium py-2  px-4 border border-[#3564FD] rounded-full hover:text-[#022A9B] hover:border-[#022A9B] duration-200">
    Compartir datos de Cuenta
  </button>
</div>




</div>
