<div class="by-transfers-1">
  <div class="flex text-[#818181] text-lg my-5">
    <p>Transfiere dinero desde cualquier entidad financiera</p>
  </div>
  <div class="grid grid-cols-2 lg:gap-x-14 px-4">
    <div class="col-span-1 my-5">
      <a>
        <span class="text-[#3A3A3A] text-base ml-4">No. Cuenta </span>
        <span class="text-[#3A3A3A] font-bold lg:float-right"
          >000243210031035
          <fa-icon
            class="cursor-pointer ml-1"

            [icon]="faCopy"
            style="color: #3564fd"
          ></fa-icon></span
      ></a>
    </div>
    <div class="col-span-1 my-5">
      <a>
        <span class="text-[#3A3A3A] text-base ml-4">Entidad</span>
        <span class="text-[#3A3A3A] font-bold float-right">Ualá </span></a
      >
    </div>
  </div>
  <div class="grid grid-cols-4 p-5 ">
    <div class="col-start-1 col-end-2 flex justify-between items-center
     rounded bg-white  cursor-pointer" routerLink="/main/charge/consign/rapipago">
      <img src="assets/rapipagoLogo.png" class="mx-auto mb-5" />
    </div>
    <div class="col-start-2 col-end-3 flex justify-between items-center
     rounded bg-white cursor-pointer" routerLink="/main/charge/consign/provincia net">
      <img src="assets/provinciaLogo.png" class="mx-auto mb-5" />
    </div>
    <div class="col-start-3 col-end-4 flex justify-between items-center
    rounded bg-white  cursor-pointer" routerLink="/main/charge/consign/banelco">
     <img src="assets/banelcoLogo.png" class="mx-auto mb-5" />
   </div>
   <div class="col-start-4 col-end-5 flex justify-between items-center
   rounded bg-white  cursor-pointer" routerLink="/main/charge/consign/link">
    <img src="assets/linkLogo.png" class="mx-auto mb-5" />
  </div>
  </div>






  </div>
