<div class="flex flex-col gap-3 px-6 py-5 bg-white custom-blue-shadow rounded-2xl">
  <p class="text-[#3A3A3A] font-semibold">Movimientos</p>
  <form>
    <label for="search-bar" class="text-[#3A3A3A] bg-[#F3F4F6] flex w-full gap-4 rounded-full overflow-hidden py-2 px-5">
      <fa-icon [icon]="faMagnifyingGlass" class="text-xl"></fa-icon>
      <input id="search-bar" type="search" placeholder="Buscar" class="bg-[#F3F4F6] w-full focus:outline-none">
    </label>
  </form>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat animi omnis optio voluptate ipsa voluptates
    corporis ducimus autem quasi iure. Quos maiores vero impedit odit! Omnis ullam nisi accusamus dolores ab cumque vero
    quaerat quae, labore, expedita culpa natus. Nemo quae incidunt sapiente ratione dolorum fugiat reiciendis placeat
    sed quod?</p>
</div>