<div class="flex h-screen overflow-hidden">
  <div class="max-w-[16rem] w-full flex-grow flex flex-col border-r hidden md:block">
    <div class="min-h-[4.5rem] flex items-center px-5">
      <a routerLink="home">
        <span class="sr-only">Home</span>
        <img class="max-w-[10rem]" src="../../../assets/svg/uala.svg" alt="brand logo">
      </a>
    </div>
    <ul class="flex flex-col gap-1 px-3 pb-10 text-sm text-[#3A3A3A] overflow-y-auto">
      <li class="flex">
        <a routerLink="home" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faHouse"></fa-icon>
          Inicio
        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faCreditCard"></fa-icon>
          Tarjeta
        </a>
      </li>
      <li class="flex">
        <a routerLink="trade" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square"
            [icon]="faArrowRightArrowLeft"></fa-icon>
          Transferencias
        </a>
      </li>
      <li class="flex">
        <a routerLink="charge" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl text-md aspect-square" [icon]="faPlus"></fa-icon>
          Cargar dinero
        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faArrowTrendUp"></fa-icon>
          Inversiones
        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faCoins"></fa-icon>
          Consumo en cuotas
        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faThumbsUp"></fa-icon>
          Prestamos
        </a>
      </li>
      <li class="flex">
        <a routerLink="/main/pagar" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faDollarSign"></fa-icon>
          Pagos y recargas
        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faTags"></fa-icon>
          Descuentos
        </a>
      </li>
      <li class="flex">
        <a routerLink="help" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square"
            [icon]="faCircleQuestion"></fa-icon>
          Ayuda
        </a>
      </li>
      <li class="flex">
        <button (click)="logout()" class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square"
            [icon]="faArrowRightFromBracket"></fa-icon>
          Cerrar sesión
        </button>
      </li>
    </ul>
  </div>
  <!-- sidebar movil -->
  <div class="max-w-[4rem] w-full flex-grow flex flex-col border-r md:hidden ">
    <div class="min-h-[4.5rem] flex items-center px-2.5">
      <a routerLink="home">
        <span class="sr-only">Home</span>
        <img class="max-w-[8rem]" src="../../../assets/svg/uala.svg" alt="brand logo">
      </a>
    </div>
    <ul class="flex flex-col gap-1 px-3 pb-10 text-sm text-[#3A3A3A] overflow-y-auto">
      <li class="flex">
        <a routerLink="home" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faHouse"></fa-icon>

        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faCreditCard"></fa-icon>

        </a>
      </li>
      <li class="flex">
        <a routerLink="trade" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square"
            [icon]="faArrowRightArrowLeft"></fa-icon>

        </a>
      </li>
      <li class="flex">
        <a routerLink="charge" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl text-md aspect-square" [icon]="faPlus"></fa-icon>

        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faArrowTrendUp"></fa-icon>


        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faCoins"></fa-icon>


        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faThumbsUp"></fa-icon>


        </a>
      </li>
      <li class="flex">
        <a routerLink="/main/pagar" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faDollarSign"></fa-icon>

        </a>
      </li>
      <li class="flex">
        <a routerLink="/a" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square" [icon]="faTags"></fa-icon>

        </a>
      </li>
      <li class="flex">
        <a routerLink="help" routerLinkActive="bg-[#F3F4F6] text-[#022A9B]"
          class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square"
            [icon]="faCircleQuestion"></fa-icon>

        </a>
      </li>
      <li class="flex">
        <button (click)="logout()" class="flex items-center w-full gap-3 p-2 rounded-md hover:bg-[#F3F4F6]">
          <fa-icon class="flex items-center justify-center w-6 text-xl aspect-square"
            [icon]="faArrowRightFromBracket"></fa-icon>

        </button>
      </li>
    </ul>
  </div>
  <div class="flex flex-col w-full overflow-y-auto">
    <div class="flex justify-between items-center sticky z-10 top-0 bg-white px-10 min-h-[4.5rem] border-b">
      <div class="flex items-center gap-3">
        <div class="flex items-center justify-center overflow-hidden bg-[#3564FD]/[15%] rounded-full w-11 h-11">
          <ng-container *ngIf="user.img; else noUserImg">
            <img src="{{user?.img}}" alt="Profile user image" class="object-cover w-full h-full">
          </ng-container>
          <ng-template #noUserImg>
            <p class="text-[#3564FD] font-semibold">{{user.name | stringInitial}}<!-- {{user.lastname | stringInitial}} --></p>
          </ng-template>
        </div>
        <h2 class="text-xl font-semibold text-[#3A3A3A]">Hola, {{user.name}}</h2>
      </div>
      <button class="text-2xl w-7 text-[#022A9B] hover:rotate-12 duration-200">
        <span class="sr-only">Notifications</span>
        <fa-icon [icon]="faBell"></fa-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
